* {
    box-sizing: border-box;
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.time-left{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 25px;
}

main{
    margin: 15%;
    text-align: center;
    padding: 0 10%;
}

.code-header{
    font-size: 60px;
    margin-bottom: 15px;
}

.btn{
    padding: 8px 20px;
    border: none;
    font-size: 20px;
    border-radius: 10%;
    background-color: #c43721;
    color: white;
}

.btn:hover{
    background-color: tomato;
    cursor: pointer;
}

.question-title{
    text-align: center;
}

.question-list li{
    margin: 20px 15%;
    list-style: none;
    background-color: #c43721;
    padding: 10px 0px;
    border-radius: 15px;
}

.question-list li:hover{
    background-color: tomato;
    cursor: pointer;
}