* {
    box-sizing: border-box;
    font-family: omnes-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

header{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

main{
    margin: 200px;
    text-align: center;
    padding: 0 100px;
}

.code-header{
    font-size: 60px;
    margin-bottom: 15px;
}

.btn{
    padding: 8px 20px;
    border: none;
    font-size: 20px;
    border-radius: 10%;
    background-color: #c43721;
    color: white;
}

.btn:hover{
    background-color: tomato;
}